@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Noto+Sans:wght@400;600;700&family=Poppins:wght@200;300;400&display=swap');

header .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px; 
  }
header .top-header img{
    width: 100px;
    margin: 0 10px;
}
.TitleTitle{
  font-size: 80px;
}
header .top-header .search{
    box-shadow: 1px 1px 3px 1px #e7e7e7;
    color: #b2b2b2;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px;
    width: 30%;
}
header .top-header .search input{
    border: none;
    outline: none;
    width: 100%;
    padding: 0 10px;
}
header .top-header .search span{
    font-size: 20px;
    cursor: pointer;
}

header .top-header a{
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    margin: auto 10px;
}

header .top-header a:hover{
    background-color: #ffffff;
    color: #000000;
}
.header-links {
    display: flex;
    align-items: center;
  }

/* Navbar section */
nav{
    background-color: #333333;
}
nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    color: #fff;
}
nav .menu input{
    display: none;
}

.menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  
  .menu ul li {
    margin-right: 15px;
  }
  
  .menu ul li:last-child {
    margin-right: 0;
  }
  
  .menu ul a {
    text-decoration: none;
    color: white;
  }
  
  .menu ul a:hover {
    background-color: white;
    color: #000000;
  }

nav .menu span{
    margin: auto 15px;
    cursor: pointer;
    color: #fff;
}
nav .menu span.hamber{
    display: none;
}

.basket-link {
    margin-left: 10px;
  }