.theContact {
    padding: 20px;
  }
  
  .contact-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    color: #ffffff;
    border-radius: 12px;
  }
  .paragraph{
    font-size: 24px;
  }
  .contact-form-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type='text'],
  input[type='email'],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    height: 100px;
  }
  
  button[type='submit'] {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type='submit']:hover {
    background-color: #555;
    color: #fff;
  }
  